z;ld;snp;config;cred;log;n_samples;
1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.z;1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.ld;1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.snp;1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.config;1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.cred;1KGP_hg19_APOE_1MB_EUR_PANUKBB.ld.na.rm.finemap.log;420473
